<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528498767303-mofpsik24igvmktodaolhul712lmns07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528498767303-mofpsik24igvmktodaolhul712lmns07</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>528498767303-281gvpubo3p6mm3vjv6dr739u9gcvb9t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLuvBGTVGZflQ2li5EQw1mcKFTbqmmSdg</string>
	<key>GCM_SENDER_ID</key>
	<string>528498767303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-e395f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-e395f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528498767303:ios:b8fac11c048298113ad5e2</string>
</dict>
</plist>